.index-cover-content h1,h2,h3,h4 {
  font-family: "Open Sans", Arial, sans-serif;
}

.index-cover-content h1 {
  font-size: 4rem;
}

.background-solid {
  width: 100%;
  overflow: hidden;
  align-content: center;
}

.background-solid .content-center {
  position: relative;
  height: 105vh;
  min-height: 500px;
  max-height: 1500px;
  overflow: hidden;
  width: 125%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.background-solid .content-center .left-div {
  position: absolute;
  display: flex; /** inline-block */
  width: 65%;
  min-width: 400px;
  height: 100%;
  padding-left: 5%;
}

.background-solid .content-center .left-div .center-left-div{
  align-self: center;
}

.background-solid .content-center .div-img {
  position: relative;
  padding-top: 60vh;
}

.background-solid .content-center .div-img img.image-background {
  width: 40%;
  height: auto;
  z-index: -1000;
  position: relative;
  opacity: 0.70;
}

.background-solid .footer {
  width: 100%;
  height: 10vh;
  max-height: 150px;
  background-size: 10px auto;
}


.disappearing-logo {
  height: 220px;
  width: auto;
  position: relative;
  display: flex;
}

.disappearing-logo .size-holder-div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.disappearing-logo img.disappearing-img {
  width: auto;
  align-self: center;
}

.disappearing-logo img.disappearing-img.img-visible {
  height: 100%;
}

.disappearing-logo img.disappearing-img.img-invisible {
  height: 100%;
  -webkit-animation-name: disappearing-img-animation;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s;  /* Safari 4.0 - 8.0 */    
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: disappearing-img-animation;
  animation-duration: 0.5s;    
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes disappearing-img-animation {
  0%   {
    height: 100%;
  }
  75%  {
    height: 10%;
  }
  85%  {
    height: 5%;
  }
  100% {
    height: 0%;
  }
}

@keyframes disappearing-img-animation {
  0%   {
    height: 100%;
  }
  75%  {
    height: 10%;
  }
  85%  {
    height: 5%;
  }
  100% {
    height: 0%;
  }
}